/**
 * block/block.css
 */
#blocks td.region {
  font-weight: bold;
}

#blocks tr.region-message {
  color: #999;
  font-weight: normal;
}

#blocks tr.region-populated {
  display: none;
}

/**
 * openid/openid.css
 */
div#edit-openid-identifier-wrapper {
  display: block;
}

html.js #user-login-form div#edit-openid-identifier-wrapper,
html.js #user-login div#edit-openid-identifier-wrapper {
  display: none;
}
html.js #user-login-form li.openid-link,
html.js #user-login li.openid-link {
  display: block;
}

#user-login-form li.openid-link,
#user-login-form li.user-link,
#user-login li.openid-link,
#user-login li.user-link {
  display: none;
}

/**
 * system/system.css
 */
body.drag {
  cursor: move;
}

th.active img {
  display: inline;
}
td.active {
  background-color: #ddd;
}
td.checkbox,
th.checkbox {
  text-align: center;
}
thead th {
  text-align: auto;
}

/**
 * messages
 */
.messages {
  background-color: #fff;
  border: 1px solid #888;
  padding: 5px;
}
.status {
  background-color: #d4efcc;
}
.error {
  color: #e55;
}
.warning {
  color: #e09010;
}
.ok {
  color: #008000;
}
div.error {
  border: 1px solid #d77;
}
div.warning {
  border: 1px solid #f0c020;
}
div.ok {
  border: 1px solid #00aa00;
}
div.error,
tr.error {
  background: #fcc;
  color: #200;
}
div.warning,
tr.warning {
  background: #ffd;
  color: #220;
}
div.ok,
tr.ok {
  background: #dfd;
  color: #020;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border-color: red;
  border-style: solid;
}
.form-item label {
  display: block;
  font-weight: bold;
}
.form-item label.option {
  display: inline;
  font-weight: normal;
}

.marker,
.form-required {
  color: #f00;
}

.more-link,
.more-help-link {
  text-align: right;
}

.nowrap {
  white-space: nowrap;
}

.item-list .pager {
  clear: both;
  text-align: center;
}

.item-list .pager li {
  display: inline;
}

.pager-current {
  font-weight: bold;
}

dl.multiselect dt,
dl.multiselect dd {
  float: left;
}

dl.multiselect dd.b,
dl.multiselect dd.b .form-item,
dl.multiselect dd.b select {
  width: 14em;
}

dl.multiselect dd.a,
dl.multiselect dd.a .form-item {
  width: 8em;
}

.container-inline div,
.container-inline label {
  display: inline;
}

/**
 * Autocomplete styles
 */
#autocomplete {
  border: 1px solid;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}

#autocomplete li {
  background: #fff;
  color: #000;
  cursor: default;
  white-space: pre;
}

#autocomplete li.selected {
  background: #0072b9;
  color: #fff;
}

/**
 * Animated throbber
 */
html.js input.throbbing {
  background: transparent url(drupal/throbber.gif) 100% 50% no-repeat;
}

/**
 * Resizable text areas
 */
.resizable-textarea {
  width: 95%;
}

.resizable-textarea .grippie {
  background: #eee;
  border: 1px solid #ddd;
  border-top: 0px;
  cursor: s-resize;
  cursor: s-resize;
  height: 9px;
  overflow: hidden;
}

html.js .resizable-textarea textarea {
  display: block;
  margin-bottom: 0px;
}

/**
 * Table drag and drop.
 */
.draggable a.tabledrag-handle {
  cursor: move;
  float: left;
  margin-right: 10px;
  text-decoration: none;
}

a.tabledrag-handle:hover {
  text-decoration: none;
}

a.tabledrag-handle .handle {
  background: url(drupal/draggable.png) 0px 0px no-repeat;
  height: 20px;
  width: 20px;
}

a.tabledrag-handle-hover .handle {
  background-position: 0px -20px;
}

div.indentation {
  float: left; /* LTR */
  height: 20px;
  width: 20px;
}

div.tree-child {
  background: url(drupal/tree.png) no-repeat 10px 50%;
}
div.tree-child-last {
  background: url(drupal/tree-bottom.png) no-repeat 10px 50%;
}
div.tree-child-horizontal {
  background: url(drupal/tree.png) no-repeat -10px 50%;
}

/**
 * Teaser splitter
 */
.joined + .grippie {
  height: 5px;
  margin-bottom: -2px;
}

/* Keeps inner content contained in Opera 9. */
.teaser-checkbox {
  padding-top: 1px;
}

div.teaser-button-wrapper {
  float: right;
  padding-right: 5px;
}

.teaser-checkbox div.form-item {
  float: right;
  margin-right: 5px;
}

textarea.teaser {
  display: none;
}
html.js .no-js {
  display: none;
}

/*
** Progressbar styles
*/
.progress {
  font-weight: bold;
}

.progress .bar {
  background: #fff url(drupal/progress.gif);
  border: 1px solid #035;
  height: 18px;
}

.progress .filled {
  background: #07b;
  height: 18px;
  width: 0%;
}

.progress .percentage {
  float: right;
}
.progress-disabled {
  float: left;
}
.ahah-progress {
  float: left;
}

.ahah-progress .throbber {
  background: transparent url(drupal/throbber.gif) 50% 50% no-repeat;
  float: left;
  height: 20px;
  width: 20px;
}

.ahah-progress-bar {
  width: 16em;
}

/**
 * Formatting for welcome page
 */
#first-time strong {
  display: block;
}

/**
 * To be used with tableselect.js
 */
tr.selected td {
  background: #ffc;
}

/**
 * Floating header for tableheader.js
 */
table.sticky-header {
  background: #fff;
  margin-top: 0px;
}

/**
 * Installation clean URLs
 */
#clean-url.install {
  display: none;
}

/**
 * For anything you want to hide on page load when JS is enabled, so
 * that you can use the JS to control visibility and avoid flicker.
 */
html.js .js-hide {
  display: none;
}

/**
 * Styles for the system modules page (admin/build/modules)
 */
#system-modules div.incompatible,
#system-themes-form div.incompatible {
  font-weight: bold;
}

/**
 * Password strength indicator
 */
span.password-strength,
span.password-confirm {
  visibility: hidden;
}

div.password-description {
  max-width: 500px;
}

/**
 * update/update.css
 */
.update .project,
.update table.version-recommended-strong .version-title {
  font-weight: bold;
}

.update .version-status {
  float: right;
}
.update .version-status .icon {
  padding-left: 10px;
}
.update .version-date {
  white-space: nowrap;
}

.update tr.error .version-recommended {
  background: #fdd;
}
.update tr.warning .version-recommended {
  background: #ffe;
}

.current-version,
.new-version {
  direction: ltr; /* Note: version numbers should always be LTR. */
}

.update tr.unknown {
  background: #ddd;
}
.update table.version-security .version-title {
  color: #910;
}

.update .security-error {
  color: #910;
  font-weight: bold;
}

/**
 * user/user.css
 */
#permissions td.module {
  font-weight: bold;
}
#permissions td.permission {
  padding-left: 20px;
}

/* fieldset admin */
.node-form fieldset {
  border: solid 1px #e1e1e1;
  padding: 10px;
}
.node-form fieldset fieldset {
  border: solid 1px #e1e1e1;
  padding: 10px;
}
