/**
 * Sonambulo Stylesheet
 * version:  1.0
 * date:     May 2012
 * author:   JD Leiva
 * email:    leivajd@pymesdotcom.com
 * website:  http://www.pymesdotcom.com
 */

/* Table of Content
==================================================
  1. Basic
  2. Typography
  3. Layout
  4. Custom
  4. MediaQueries
================================================== */
/*-------------------------------------------------------------------- */
/* =Basic */
/*-------------------------------------------------------------------- */
/**
 * Apply a natural box layout model to all elements, because http://paulirish.com/2012/box-sizing-border-box-ftw/ and @paulirish is always right.
 */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * maxvoltar.com/archive/-webkit-font-smoothing
 */
html {
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgb(52,158,219);
  -webkit-text-size-adjust: 100%;
}

body {
  background: #fff;
  color: #333;
  font: 1em/1.5 'Helvetica Neue',Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;
  text-align: left;
  text-rendering: optimizeLegibility;
}

/**
 * Bicubic resizing for non-native sized IMG:
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

img,
embed,
object,
video {
  height: auto;
  max-width: 100%;
}

/**
 * Links
 */
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a {
  -moz-transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
a:hover,
a:active {
  outline: none;
}
a,
a:link,
a:visited,
a:active {
  color: #069;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a img {
  border: none;
}

.offscreen {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}
.reveal:link {
  color: #333;
  padding: 5px 10px;
}
.reveal:active,
.reveal:focus {
  background: #069;
  color: #fff;
}

/**
 *Selection
 */
::-webkit-selection {
  background: rgb(0,0,0);
  color: rgb(255,255,255);
  text-shadow: none;
}
::-moz-selection {
  background: rgb(0,0,0);
  color: rgb(255,255,255);
  text-shadow: none;
}
::selection {
  background: rgb(0,0,0);
  color: rgb(255,255,255);
  text-shadow: none;
}

/*-------------------------------------------------------------------- */
/* =Typography */
/*-------------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  font-family: 'Helvetica Neue', Helvetica,Arial, 'Liberation Sans', FreeSans, sans-serif;
  margin-bottom: 1.5em;
}
h1 {
  font-size: 2em;
  font-weight: normal;
  line-height: 1.385em;
  margin: 0 0 .692em 0;
}
.content h1 {
  margin: 0 0 0.45em;
}
h2 {
  font-size: 1.538em;
  font-weight: normal;
  line-height: 1.35em;
  margin: 0 0 .45em 0;
}
hgroup h1,
hgroup h2 {
  margin: 0;
}
h3,
aside .block-title {
  font-size: 1.231em;
  line-height: 1.6875em;
  margin: 0 0 .5625em 0;
}
.content h3,
aside .block-title {
  margin: 0 0  0.75em;
}
h5,
h6 {
  color: #666;
}
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.385em;
  margin: 0 0 1.385em 0;
}
.content h4,
.content h5,
.content h6 {
  margin: 0;
}

p {
  hyphens: auto;
}
.content p {
  margin: 0 0 1.5em;
}
ul,
ol {
  margin: 0 0 1.5em 0;
  padding: 0 0 0 24px;
}

li ul,
li ol {
  margin: 0;
}
.content li {
  margin: 0 0 5px;
}
dl,
dd {
  margin-bottom: 1.5em;
}
dt {
  font-weight: normal;
}

blockquote {
  border-left: 1px solid rgb(200,200,200);
  font-style: italic;
  margin: 0 0 1.5em -24px;
  padding-left: 24px;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  border: 0;
  border-top: 1px solid rgb(204,204,204);
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

ins {
  background-color: #f0f0f0;
  background-color: rgb(240,240,240);
  color: rgb(0,0,0);
  text-decoration: none;
}

mark {
  background-color: #f0f0f0;
  background-color: rgb(240,240,240);
  color: rgb(0,0,0);
  font-style: italic;
  font-weight: bold;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: .875em;
  line-height: 1.5;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}

small {
  font-size: 1em; /* 16 / 16 = 1 */
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -.5em;
}
sub {
  bottom: -.25em;
}

/*-------------------------------------------------------------------- */
/* =Layout */
/*-------------------------------------------------------------------- */
/*
 * Base on 960px 12 columns grid
 */
.col {
  margin-left: 1.041666666666667%;
  margin-right: 1.041666666666667%;
  position: relative;
}
.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12 {
  display: inline;
  float: left;
  margin-left: 1.041666666666667%;
  margin-right: 1.041666666666667%;
  position: relative;
}
.alpha {
  margin-left: 0;
}
.omega {
  margin-right: 0;
}
/*10 / 960 */
/*60 / 960*/
/*140 / 960*/
/*220 / 960*/
/*300 / 960*/
/*380 / 960*/
/*460 / 960*/
/*540 / 960*/
/*620 / 960*/
/*700 / 960*/
/*780 / 960*/
/*860 / 960*/
/*940 / 960*/
.col1 {
  width: 6.25%;
}
.col2 {
  width: 14.58333333333333%;
}
.col3 {
  width: 22.91666666666667%;
}
.col4 {
  width: 31.25%;
}
.col5 {
  width: 39.58333333333333%;
}
.col6 {
  width: 47.91666666666667%;
}
.col7 {
  width: 56.25%;
}
.col8 {
  width: 64.58333333333333%;
}
.col9 {
  width: 72.91666666666667%;
}
.col10 {
  width: 81.25%;
}
.col11 {
  width: 89.58333333333333%;
}
.col12 {
  width: 97.91666666666667%;
}

.group {
  margin: 0 auto;
  padding-left: 1.041666666666667%;
  padding-right: 1.041666666666667%;
}
.group:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
/**
 * IE pretty stick (via @simplebits)
 */
/* IE6 */
* html .group {
  height: 1%;
}
/* IE7 */
*:first-child+html .group {
  min-height: 1px;
}

/**
 * Hand cursor on clickable input elements
 */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus {
  border-color: rgba(19, 130, 199, 0.8);
  outline: 0;
  outline: thin dotted \9; /* IE6-9 */
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/*-------------------------------------------------------------------- */
/* =Custom Styles */
/*-------------------------------------------------------------------- */

/*-------------------------------------------------------------------- */
/* =Media Queries example, get your own damn breakpoints.
@media only screen and (min-width: 480px) {
	//Content
}

@media only screen and (min-width: 600px) {
	//Content
}

@media (min-width:756px) {
	//Content
}

@media (min-width:978px) {
	//Content
}

@media (min-width:1024px) {
	//Content
}
/*-------------------------------------------------------------------- */
